/* Reset (cf le reset Eric Mayer) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none; 
}

/* Le reset permet que l'on ne nous impose. Ensuite rien ne nous empêche de dénifir nos propres styles et dêtre maître de nos choix.  */

h1{
	text-align: center; /* alignement */
	color: red; 
	font-size: 20px; /* taille du texte (en px) */
	font-weight : bold; /* gras */
	margin: 10px 9px 8px 7px; /* marges exterieures(haut, droite, bas, gauche) */
	padding : 20px; /* marges intérieures : 20px partout */
	border: 1px solid; /* bordure: taille, style du trait et couleur (par défaut couleur: couleur du texte) */ 
}

span{ 
	border : 1px solid;
	margin: 10px; 
	width: 100%;
	text-align: center; 
	display: block; 
}

div{
	border : 1px solid; 
	margin: 10px; 
	width: 20%; 
	display: inline-block; 
}

p{
	border : 1px solid; 
	margin: 10px; 
}

/* En ajouant une bordure on peut se rendre compte que les éléments on des fonctionnements différents. 
	span : élement inline : prend la place qu'il a besoin. Et s'ajoute les uns à coté des autres. 
	p et div : élément block : prennent toute la taille de l'élement parent. Et s'ajoutent les uns en dessous des autres par défaut. 
	
	Mettre la propriété display: inline-block, permet d'allier les deux comportement. Block dont on peut définir la taille et qui s'ajoutent les uns à coté des autres. 
 */