body{
	background-color: #f3256a;
	/* Background-color: permet de définir une couleur de fond. En css3 on peut juste mettre background */
}

header{
	height: 100px; 
	background: #f98f32;
}

nav{
	height: auto;
	padding: 20px; 
	/*margin: 20px;
	margin-top: 20px; 
	margin-bottom: 20px;
	margin-right: 0px; 
	margin-left: 0px;*/
	/*margin: 20px 0px 20px 0px; H-D-B-G */
	margin: 20px 0px; /* HB - GD */
	background: #20DDF2; 
	border : 2px solid black; 
	border-radius : 15px;
}

section{
	height: 500px; 
	background: #F2F220;
	overflow: hidden; 
}

footer{
	height: 100px; 
	background: #f98f32;
}


.circle{
	width: 50px; 
	height: 50px; 
	margin: 50px; 
	background: green;
	border-radius: 50px; /* Border-radius de la taille de l'élément permet de faire un cercle. */ 
	transition: 0.1s; /* Permet de passer d'un état à un autre avec timing défini.  */
	
}

.circle:hover{
	border-radius: 0px;
	transition: 0.8s;
}