img {
    width: 30%;
    animation-duration: 3s;
    animation-name:running;
    animation-iteration-count:infinite;
    animation-direction:alternate;
  }
  @keyframes running {
    from {
      margin-right:0;
    }
    to {
      margin-left:70%;
    }
  }