@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);
@font-face {
	font-family: 'terranital';
	src: url('font/terranital.eot');
	src: local('terranital'), url('font/terranital.woff') format('woff'), url('font/terranital.ttf') format('truetype');
}

@font-face {
    font-family: 'better_phoenix_sampleregular';
    src: url('font/better_phoenix_sample-webfont.woff2') format('woff2'),
         url('font/better_phoenix_sample-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0; 
	padding: 0;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

strong{
	font-weight: normal;
	color: red;
}

h1{
	font-family: 'terranital', fantasy, sans-serif;
	background: red;
    padding: 20px;
    color: white;
}

h2{
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
}


p{
	margin: 30px 0px;
}

.auteur{
	font-size: 12px; 
	margin-bottom: 0px;
}

.auteur span{
	font-size: 18px; 
	font-weight: bold; 
}

.auteur .prenom{
	color: red; 
}








