table{
	border-collapse : collapse;
	/*width: 300px;
	height: 200px;*/
	margin: 30px auto;
}

tr:nth-child(odd){
	background: silver;
}

tr:nth-child(1){
	background: red;
	color: white; 
}

td, th{
	padding: 10px;
	text-align: center;
}