.contenu{
	width: 800px;
	height: 500px; 
	margin: 50px auto;
	background: #E9485F;
	/*background: linear-gradient(to left, #E9485F, #6C416E);*/
	
	background: rgba(222,203,199,1);
	background: -moz-linear-gradient(left, rgba(222,203,199,1) 0%, rgba(222,203,199,1) 40%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,203,199,1)), color-stop(40%, rgba(222,203,199,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(222,203,199,1) 0%, rgba(222,203,199,1) 40%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(222,203,199,1) 0%, rgba(222,203,199,1) 40%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(222,203,199,1) 0%, rgba(222,203,199,1) 40%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(222,203,199,1) 0%, rgba(222,203,199,1) 40%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#decbc7', endColorstr='#e73827', GradientType=1 );
}