div{
	width: 800px; 
	margin: 0 auto;
}

div img{
	margin: 20px; 
	border: 5px solid #eee;
	box-shadow: 4px 4px 4px silver;
	transition: 0.5s;
}

div img:hover{
	transform: rotate(-7deg); /* Rotation à 7 degrés */
}

div img.last:hover{
	transform: rotate(-360deg); /* Rotation à 360 degrés */
}