.tailleFixe{
	border: 1px solid red; 
	width: 300px; 
}

.tailleVariable{
	border: 1px solid blue; 
	width: 100%;
}

/* Taille fixe fait 300px peut importe la taille de l'écran et donc peut disparaître. 
Taille Variable fait 100% et donc s'adapte à la taille de la fenêtre (pratique pour adapter son site en mobile). 
 */