html, body {
    background-color: aqua;
}
h1 {
    background-color: yellowgreen;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}
h2 {
    background-color: bisque;

}
a {
    text-decoration: none;
    color: grey;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    padding: 0 5px 0 5px;
}
a:hover {
    border-color:rgb(87, 69, 25);
}
nav li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}
nav>ul>li {
    margin: 0 4%;
}
li>ul>li {
    display: block;
}
li>ul>li a:hover{
    border-bottom: 2px solid transparent;
}
section, aside {
    display: inline-block;
    vertical-align: top;
}
section {
    width: 58%;
    margin-right: 2%;
}
aside {
    width: 39%;
}
section img {
    /* overflow: hidden; */
    width: 80%;
    display: block;
    margin: 0 auto;
}
section p + h2 {
    color: blueviolet;
}
section ~ footer {
    background: 
}
aside h3:hover ~ * {
    font-style: italic;
}