/*
transform permet d'effctuer des transformations sur un élément. 
Le déplacer : translate()
Le faire tourner : rotate()
changer sa taille : scale()
le déformer : skew()

Transform peut être appliquer lors d'une transition ou lors d'une animation. 
Transition : dans le hover
cf : transform-transition.html

Animation : @keyframes
cf : transform-animation.html
*/

/* translate */
div{
	-ms-transform: translate(50px, 100px);
	-webkit-transform: translate(50px, 100px);
	transform: translate(50px, 100px);
}
/* Argument 1 : left */
/* Argument 2 : top */

/* rotate */
div{
	transform : rotate(20deg);
	transform : rotateX(20deg);
	transform : rotateY(20deg);
}
/* rotateX : rotation sur l'axe X */
/* rotateX : rotation sur l'axe Y */
/* argument positif : rotation dans le sens horaire */
/* argument négatif : rotation dans le sens anti-horaire */

/* scale */
div{
	transform: scale(2, 3);
}
/* paramètre 1 : taille en width */
/* paramètre 2 : taille en height */
/* Scale va multiplier la taille de l'élément par les valeur qu'on lui donne. */

/* skew */
div{
	transform: skew(20deg);
}

div{
	transform: skew(20deg, 10deg);
}
/* parametre 1 : déformation sur l'axe X */
/* parametre 2 : déformation sur l'axe Y */


/* matrix */
div{
	transform : matrix(1.5, 10, 10, 1.5, 10, 10);
}
/* parametre 1 : valeur de scaleWidth */
/* parametre 2 : valeur de skewY */
/* parametre 3 : valeur de skewX */
/* parametre 4 : valeur de scaleHeight */
/* parametre 5 : valeur de translateLeft */
/* parametre 6 : valeur de translateTop */
