body{
	background: #000; 
}

nav{
	float: left; 
	width: 240px; 
	border: 1px solid white;
	margin: 10px 50px 0 10px; 
}

nav ul{
	padding: 10px 0;
}

nav ul li{
	float: left; 
	list-style: none;
	margin: 0 10px; 
	opacity: 0.6;
	transition: 0.5s;
}

nav ul li:hover{
	opacity: 1;
}

#contenu{
	width: 500px; 
	height: 313px; 
	overflow: hidden;
	position: relative; 
	border: 1px solid white; 	
}

#defilement{
	position: absolute; 
	top: 0; 
	transition: 0.5s;
}

.zone1-active{
	position: absolute; 
}

.zone2-active{
	position: absolute;
	top:313px; 
	left: 0px;
}

.zone3-active{
	position: absolute;
	top:626px; 
	left: 0px;
}

.zone4-active{
	position: absolute;
	top:939px; 
	left: 0px;
}

.zone5-active{
	position: absolute;
	top: 1252px; 
	left: 0px;
}

/* #exemple:target : permet de dire lorque tu vois écrit "exemple dans l'url, tu appliques ce style*/
#zone1:target #defilement{top : 0px;}
#zone2:target #defilement{top : -313px;}
#zone3:target #defilement{top : -626px;}
#zone4:target #defilement{top : -939px;}
#zone5:target #defilement{top : -1252px;}
