/*.blue{
	margin: 0px auto;
	height: 50px; 
	width:  1080px;
	background: blue; 
}

nav{
	margin: 0 auto; 
	height: auto; 
	width:  1080px;
	background: orange; 
}

.milieu{
	margin: 0; 
	height: 45%;
	width: 45%;
	min-height: 300px; 
	min-width: 300px; 
	background-color: white; 
	float: left; 
}

.milieu:nth-child(1){
	background: green;
}
.milieu:nth-child(2){
	background: yellow;
}
.milieu:nth-child(3){
	background: grey;
}
.milieu:nth-child(4){
	background: blue;
}

body{
	border: 1px solid black;
	width: 1080px;
	text-align: center; 
}

.container{
	text-align: center; 
	height: 100%; 
	width: 100%;
	margin: 50px 50px;
}

.clear{
	clear: both;
}*/


#container{
	width: 1000px; 
	margin: 0 auto; 
	border: 2px solid;
}

header{
	background: green; 
	height: 80px; 
}

nav{
	background: purple; 
	height: 30px;
}

section{
	height: 500px; 
	margin: 20px;
}

.a{
	background: green;
	height: 250px;
	width: 480px;
	float: left;
}

.b{
	background: yellow;
	height: 250px;
	width: 480px;
	float: left;
}

.c{
	background: grey;
	height: 250px;
	width: 480px;
	float: left;
}

.d{
	background: blue;
	height: 250px;
	width: 480px;
	float: left;
}

footer{
	height: 60px;
	background: green;
}

.clear{
	clear: left; 
}







