body{
	margin: 0;
	padding: 0;
}

header{
	background: green;
	height: 80px;
	width: 100%;
	margin: 0 auto;
}

nav{
	background: blue; 
	height: 30px; 
	width: 100%;
}

section{
	min-height: 600px; 
}

article{
	background: yellow;
	margin: 20px; 
	min-height: 600px;
	height: auto;
}

footer{
	background: grey;
	height: 50px; 
	width: 100%;
}

